@charset "UTF-8";

/* リセット/ノーマライズ */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

a:hover {
  opacity: 0.8;
}

ul,
ol {
  list-style: none;
}

/* サイズの基準設定：1rem = 10px; */
html {
  font-size: 62.5%;
}

/* ------------------基本設定------------------- */
body {
  color: #252525;
  font-size: 1.6rem;
  font-family: "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  line-height: 1.69;
  /* ヘッダー固定する場合は必要 */
  /* padding-top: 5.5rem; */
}

.container {
  width: 90%;
  margin: 0 auto;
}

.sp-none {
  display: none;
}

@media (min-width: 590px) {
  .pc-none {
    display: none;
  }

  .sp-none {
    display: block;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 1200px;
  }
}

/* コース一覧 */
.course {
  background-color: #e5f3ff;
  padding: 4rem 0;
}

.section__title {
  text-align: center;
  margin-bottom: 1rem;
}

.course__sub-title {
  font-weight: bold;
  text-align: center;
}

@media (min-width: 590px) {
  .course {
    font-size: 1.8rem;
  }

  .section__title {
    font-size: 4.8rem;
  }

  .course__sub-title {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }
}
.header {
  background-color: #ffffff;
  width: 100%;
  padding: 0.8rem 0;
  /* ヘッダー固定する場合は必要 */
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 20; */
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダーロゴ */
.header__logo {
  width: 50%;
}

@media (min-width: 900px) {
  .header {
    padding: 2rem 0;
  }
  .header__logo {
    width: 15%;
  }
}

/* ナビゲーションボタン */
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.nav-button {
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  color: #4e84ff;
  width: 34px;
  height: 14px;
  cursor: pointer;
}

.nav-button::before,
.nav-button::after {
  content: "";
  display: block;
  height: 4px;
  background-color: currentColor;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
}

.nav-button::before {
  transform: translateY(-9px);
  box-shadow: 0 11px currentColor;
}

.nav-button::after {
  transform: translateY(9px);
}

/* ナビゲーションの閉じるボタン */
.open .nav-button {
  z-index: 100;
  color: #ffffff;
}

.open .nav-button::before {
  transform: translateY(2px) rotate(45deg);
  box-shadow: none;
}

.open .nav-button::after {
  transform: translateY(-2px) rotate(-45deg);
}

/* SP版ナビゲーションメニュー */
@media (max-width: 899px) {
  .nav {
    position: fixed;
    top: 0;
    right: -120%;
    width: 80%;
    height: 100vh;
    background-color: #000000e0;
    color: #ffffff;
    z-index: 50;
    transition: right 0.5s;
  }

  .open .nav {
    right: 0;
  }

  html,
  body {
    overflow-x: hidden;
  }

  .nav__list {
    padding: 10%;
  }

  .nav__item:not(:nth-last-child(2)) {
    border-bottom: 1px solid #595757;
  }

  .nav__item:nth-last-child(2) {
    margin-top: 10rem;
  }

  .nav__item:last-child {
    border-bottom: none;
  }

  .nav__item a {
    padding: 1.2rem 0;
  }
}

/* 背景クリックでメニューを閉じる */
@media (max-width: 899px) {
  .modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000059;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 30;
  }

  .modal-open {
    display: block;
  }
}

/* ヘッダー予約ボタン */
.header__btn {
  background: linear-gradient(to right, #fd8c3a, #f26601);
  color: #ffffff;
  border-radius: 10px;
  padding: 0.6rem 1.5rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px #00000016;
}

@media (min-width: 590px) {
  .header__btn {
    padding: 1rem 1.5rem;
  }
}

/* PC版ナビゲーションメニュー */
@media (min-width: 900px) {
  .nav-button {
    display: none;
  }

  .nav {
    /* padding: 1.6rem 0; */
    width: 80%;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* タブレット版メニュー（予約ボタンの変更） */
.tb-only {
  display: none;
}

@media (min-width: 900px) and (max-width: 1120px) {
  .tb-none {
    display: none;
  }

  .tb-only {
    display: block;
  }
}
/* コースitem全体レイアウト */
.course__item {
  position: relative;
  background-color: #ffffff;
  padding: 5rem 2rem 1.5rem;
  margin-top: 5rem;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #00000016;
}

@media (min-width: 900px) {
  .course__menu {
    display: flex;
    justify-content: space-between;
  }

  .course__item {
    width: 48%;
    padding: 5rem 3rem 1.5rem;
    box-sizing: border-box;
  }
}

/* コース吹き出し */
.course__name {
  text-align: center;
}

.course__balloon {
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 1.7rem 0;
  width: 90%;
  color: #ffffff;
  border-radius: 12px;
}

.course__balloon::before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: -14px;
  width: 0;
  height: 0;
  margin: auto;
  left: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
}

.course__balloon-basic {
  background-color: #3c9de8;
}

.course__balloon-basic::before {
  border-color: #3c9de8 transparent transparent transparent;
}

.course__balloon-practice {
  background-color: #42638f;
}

.course__balloon-practice::before {
  border-color: #42638f transparent transparent transparent;
}

/* コースitem */
.course__target {
  margin-bottom: 1rem;
  text-align: center;
}

.course__target-basic {
  color: #3c9de8;
}

.course__target-practice {
  color: #42638f;
}

@media (min-width: 590px) {
  .course__target {
    font-size: 2.6rem;
    margin-top: 2rem;
  }
}

/* コースitem 料金 */
.price {
  font-weight: bold;
  font-size: 1.5rem;
}

.price-number {
  font-size: 2.4rem;
  margin: 0 0.5rem;
}

.price-unit {
  font-weight: normal;
}

.course__price {
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (min-width: 590px) {
  .price {
    font-size: 2rem;
  }

  .price-number {
    font-size: 3.5rem;
  }

  .option__price {
    text-align: right;
  }

  .all-price {
    font-size: 2.4rem;
  }
}

/* コースitem コースの内容 */
.course__contents-text {
  font-weight: bold;
  margin-bottom: 1rem;
}

.contents__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.contents__image {
  width: 6rem;
}

.contents__text {
  width: 75%;
}

.contents__title {
  font-weight: bold;
}

.contents__description {
  font-size: 1.5rem;
}

@media (min-width: 590px) {
  .contents__title {
    margin-bottom: 1rem;
  }

  .contents__image {
    text-align: center;
  }

  .contents__text {
    width: 85%;
  }

  .contents__description {
    font-size: 1.6rem;
  }
}

/* コースプラスアイコン */
.plus__wrapper {
  margin: 3.2rem 0;
  text-align: center;
}

.icon-plus {
  display: inline-block;
  vertical-align: middle;
  color: #676767;
  line-height: 1;
  width: 40px;
  height: 5px;
  background-color: currentColor;
  position: relative;
}

.icon-plus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transform: rotate(90deg);
}

@media (min-width: 590px) {
  .plus__wrapper {
    margin: 10rem 0;
  }

  .icon-plus {
    width: 80px;
    height: 12px;
  }
}

/* オプションプラン */
.option-plan__title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.4rem;
}

.option__item {
  background-color: #ffffff;
  padding: 2.5rem 1.5rem;
  border-radius: 15px;
  margin-bottom: 3rem;
  box-shadow: 0px 3px 6px #00000016;
}

.option__name {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.option__name-image {
  width: 14%;
  margin-right: 1rem;
}

.option__title-text {
  font-weight: bold;
  font-size: 1.8rem;
}

.option__contents-text {
  font-weight: bold;
}

.option__contents {
  margin: 1rem 0;
}

.option__contents-item {
  font-size: 1.5rem;
  line-height: 1.86;
}

.option__wrapper {
  border-bottom: 2px solid #70707060;
  padding-bottom: 1.5rem;
  margin-bottom: 4rem;
}

@media (min-width: 590px) {
  .option__item {
    padding: 2.5rem 3rem;
  }

  .option__name-image {
    width: 7.5rem;
    margin-right: 3rem;
  }

  .option__name-image img {
    width: 100%;
  }

  .option__title-text {
    font-size: 2.4rem;
  }

  .option__contents-item {
    font-size: 1.6rem;
    line-height: 2.25;
  }

  .option__wrapper {
    padding-bottom: 3rem;
    margin-bottom: 6rem;
  }
}

/* 3ヶ月一括プラン全体レイアウト */
.three-month {
  background-color: #ffffff;
  padding: 1.8rem 1rem 1.3rem;
  border-radius: 15px;
  margin-bottom: 3rem;
  box-shadow: 0px 3px 6px #00000016;
}

.three-month-title {
  color: #3c9de8;
  text-align: center;
}

.three-month__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.three-month__item {
  width: 52%;
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}
@media (max-width: 589px) {
  .three-month__item:nth-child(even) {
    width: 47%;
  }
}

.three-month__image {
  flex: 0 0 3.2rem;
  margin-right: 6px;
}

.three-month__text {
  font-size: 1.2rem;
}

@media (min-width: 590px) {
  .three-month {
    padding: 1.8rem 5rem 1.3rem;
  }

  .three-month-title {
    font-size: 3.2rem;
  }

  .three-month__item {
    width: 33%;
  }

  .three-month__image {
    flex: 0 0 6rem;
    margin-right: 15px;
  }

  .three-month__text {
    font-size: 1.8rem;
  }
}

/* 受講までの流れ */
.flow {
  background-color: #fafafa;
  padding: 4rem 0;
  margin-top: 4rem;
  border-radius: 10px;
}

.flow__title {
  margin-bottom: 3.5rem;
}

.flow__list {
  width: 85%;
  margin: 0 auto;
}

.flow__item {
  margin-bottom: 2.5rem;
}

.flow__item-number {
  color: #019ee3;
  font-size: 5.4rem;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.15;
}

.flow__item-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.flow__item-image {
  text-align: center;
  margin-bottom: 2.7rem;
}

@media (min-width: 900px) {
  .flow {
    border-radius: 20px;
  }

  .flow__list {
    width: 73%;
    display: flex;
    justify-content: space-between;
  }

  .flow__item {
    width: 31%;
  }

  .flow__item-image {
    height: 14rem;
  }

  .flow__item-image img {
    height: 100%;
    object-fit: cover;
  }
}

/* カウンセリング予約 */
.counseling-btn__wrapper {
  margin: 4rem auto;
  width: 90%;
}

.counseling__text {
  color: #f26601;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}

.counseling__text::before,
.counseling__text::after {
  display: inline-block;
  content: "";
  background-color: #f26601;
  width: 3px;
  height: 2.3rem;
  margin: -0.5rem 1rem 0;
  vertical-align: middle;
}

.counseling__text::before {
  transform: rotate(-35deg);
}

.counseling__text::after {
  transform: rotate(35deg);
}

.counseling-btn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 0;
  color: #ffffff;
  font-weight: bold;
  background: linear-gradient(#fd8c3a, #f26601);
}

.counseling-btn::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
  margin-left: 1.5rem;
}

@media (min-width: 900px) {
  .counseling-btn__wrapper {
    width: 47rem;
  }

  .counseling-btn {
    font-size: 2rem;
  }
}

/* ------------よくあるご質問 ------------------- */
.questions {
  padding: 4rem 0;
}

.questions-section__title {
  margin-bottom: 3rem;
}

@media (min-width: 590px) {
  .questions {
    padding: 6rem 0;
  }
}
/* アコーディオン全体幅*/
.accordion {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
}

/* アコーディオンアイテム*/
.accordion__item {
  background-color: #ffffff;
  box-shadow: 0px 3px 6px #00000016;
  padding: 2rem 0;
  cursor: pointer;
}

.accordion > div:not(:last-child) {
  margin-bottom: 4rem;
}

/* アコーディオンアイテム：フレックスボックス指定*/
.accordion__header {
  width: 10%;
  color: #fe362f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion__text {
  width: 70%;
  align-self: center;
}

@media (min-width: 590px) {
  .accordion__text {
    width: 80%;
  }
}

/*  アコーディオンタイトル*/
.accordion__title {
  position: relative;
  padding-right: 4.5rem;
  font-size: 1.8rem;
}

/* アコーディオンコンテンツ*/
.accordion__content {
  line-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin: 0;
}

.accordion__content.is-open {
  line-height: 1.5;
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  padding-top: 1.5rem;
}

/* アコーディオン(+)アイコン*/
.accordion__title::before,
.accordion__title::after {
  content: "";
  display: block;
  position: absolute;
  right: 1rem;
  top: 50%;
  background-color: #fe362f;
  width: 20px;
  height: 4px;
  transition: all 0.3s;
}

.accordion__title::after {
  transform: rotate(90deg);
}

/* (reason) :アコーディオン展開時(-)アイコン*/
.accordion__item.is-active .accordion__title::before {
  transform: rotate(180deg);
}

.accordion__item.is-active .accordion__title::after {
  transform: rotate(180deg);
  opacity: 0;
}

/* (questions)アコーディオン幅 */
.questions__item {
  padding: 2rem 1.5rem;
}

@media (min-width: 590px) {
  .questions__item {
    padding: 2rem 5rem;
    width: 75%;
    margin: 0 auto;
  }
}

.questions__title,
.questions__content {
  display: flex;
  align-items: center;
}

.questions--q::before,
.questions--a::before {
  display: block;
  padding-right: 2rem;
  color: #fe362f;
  font-size: 3rem;
  /* fontを読み込んでから適用 */
  font-family: "Montserrat", sans-serif;
}

.questions--q::before {
  content: "Q";
}

.questions--a::before {
  content: "A";
}

.questions--q,
.questions--a {
  align-self: flex-start;
}

@media (min-width: 590px) {
  .questions--q::before,
  .questions--a::before {
    font-size: 3.6rem;
    padding-right: 5rem;
  }
}

/* メッセージ */
.message {
  background-color: #f6fbff;
  padding: 4rem 0;
}

.message-section__title {
  padding-left: 2rem;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.message-card {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 3px 6px #00000016;
  padding: 4rem 2rem;
  box-sizing: border-box;
}

.message-card__title {
  color: #019ee3;
  margin-bottom: 1.5rem;
}

.message-card__text {
  line-height: 1.75;
}

.message-card__text:not(:last-child) {
  margin-bottom: 3.5rem;
}

@media (min-width: 590px) {
  .message {
    padding: 6rem 0;
  }

  .message-section__title {
    padding-left: 0;
  }

  .message-card {
    padding: 3rem 4rem;
  }

  .message-section__title {
    font-size: 4.8rem;
  }

  .message-card__title {
    font-size: 3.2rem;
  }

  .message-card__text {
    line-height: 2;
  }

  .message-card__text:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.fv {
  width: 100%;
  background: linear-gradient(#fff, #d1ebff);
}

.content-flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .content-flex {
    flex-direction: column-reverse;
  }
}

.fv-relative {
  position: absolute;
  top: 180px;
  width: 100%;
  max-width: 750px;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .fv-relative {
    max-width: 100%;
    position: initial;
  }
}

.copy-header {
  background-color: #d1ebff;
  border-radius: 26px;
  display: inline-block;
}

.copy-header span {
  font-size: 3.2rem;
  font-weight: bold;
  color: #333;
  padding: 0 2rem;
}

@media screen and (max-width: 900px) {
  .copy-header {
    padding: 0;
    margin: auto;
    text-align: center;
    display: block;
  }

  .copy-header span {
    font-size: 1.5rem;
  }
}

.copy-main {
  font-size: 3.6rem;
  text-align: left;
  margin: 2rem auto;
}

@media screen and (max-width: 900px) {
  .copy-main {
    text-align: center;
    margin: 0;
  }

  .copy-main h1 {
    margin: 1rem;
    font-size: 2.8rem;
    line-height: 38px;
  }
}

.copy-main h1 span {
  display: inline-block;
}

.color-aqua {
  color: #4e84ff;
}

.copy-footer {
  font-size: 1.9rem;
  font-weight: 700;
}

@media screen and (max-width: 900px) {
  .copy-footer {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 500;
  }

  .copy-footer span {
    display: inline-block;
  }
}

.fv-cv-btn {
  width: 100%;
  margin-bottom: 8rem;
  text-align: center;
}

.cv-btn__area {
  width: 100%;
}

.cv-btn__area p {
  color: #f26601;
  font-size: 2rem;
}

.cv-btn__sub-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
}

.cv-btn__sub-text::before,
.cv-btn__sub-text::after {
  content: "";
  width: 3px;
  height: 30px;
  background-color: #f26601;
}
.line-btn__sub-text {
  color: #00B900 !important;
}
.line-btn__sub-text::after,
.line-btn__sub-text::before {
  background-color: #00B900;
}

.cv-btn__sub-text::before {
  margin-right: 20px;
  transform: rotate(-35deg);
}

.cv-btn__sub-text::after {
  margin-left: 20px;
  transform: rotate(35deg);
}

@media screen and (max-width: 900px) {
  p.cv-btn__sub-text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 900px) {
  .fv-cv-btn {
    margin: 2rem auto 4rem;
  }
}

.cv-btn {
  background: linear-gradient(to right, #f26601, #fd8c3a);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 10px;
  box-shadow: #787878 3px 3px 5px;
}
.line-btn {
  background: linear-gradient(to right, #00B900, #00B900);
}


.cv-btn p {
  font-size: 2rem;
  color: #fff;
}

.content {
  width: 100%;
}

.cv-btn__arrow-right::after {
  content: "＞";
  padding-left: 3rem;
  font-weight: bold;
}
.problem {
  background-color: #fafafa;
  padding: 4rem 0;
}
.problem-title {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  padding: 6rem 0;
}
@media screen and (max-width: 900px) {
  .problem-title {
    padding: 1rem 0 2rem;
    line-height: 4rem;
  }
  .problem-title span {
    display: inline-block;
    font-size: 2.8rem;
  }
}
.problem-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .problem-items {
    flex-direction: column;
  }
}
.problem-item {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .problem-item {
    display: flex;
    justify-content: start;
    align-items: center;
  }
}

.problem-item__image img {
  max-width: 280px;
  height: 180px;
}
@media screen and (max-width: 900px) {
  .problem-item__image img {
    max-width: 80px;
    height: auto;
  }
}

.problem-item__description strong {
  display: block;
}
@media screen and (max-width: 900px) {
  .problem-item__description {
    text-align: left;
    padding-left: 1rem;
  }
}
.because {
  padding-top: 5rem;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .because {
    padding-top: 0;
  }
}
.because-speech-bubble {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0.8rem 5rem;
  min-width: 120px;
  max-width: 100%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background: #94c6d5;
  border-radius: 20px;
  font-size: 3.3rem;
  box-shadow: #c7c7c7 3px 3px 10px;
}
.because-speech-bubble::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #94c6d5;
}
.because-speech-bubble::after {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .because-speech-bubble {
    font-size: 2.6rem;
    padding: 1.5rem 3rem;
  }
}
.because-small {
  font-size: 2.2rem;
}
@media screen and (max-width: 900px) {
  .because-small {
    font-size: 1.8rem;
  }
}
.solve__bg {
  position: absolute;
  z-index: -1;
}
.solved-text {
  color: #42638f;
  font-size: 3rem;
  font-weight: bold;
}
.solved-text__wrap {
  text-align: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 900px) {
  .solved-text {
    display: inline-block;
  }
}
.solved-text__big {
  font-size: 5rem;
}
@media screen and (max-width: 900px) {
  .solved-text span:first-child {
    font-size: 1.8rem;
    display: block;
  }
  .solved-text span:last-child {
    font-size: 2.4rem;
  }
}
.solved-example {
  max-width: 1000px;
  margin: 0 auto 3rem;
}
.solved-example-item {
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  align-items: start;
}
.solved-example-item img {
  padding-top: 0.5rem;
}
.solved-example-item p {
  padding-left: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .solved-example-item p {
    padding-left: 2rem;
    font-size: 1.8rem;
  }
}
.solved-box__flex {
  display: flex;
  justify-content: start;
}
@media screen and (max-width: 900px) {
  .solved-box__flex {
    flex-direction: column;
    align-items: center;
  }
}
.solved-box-item {
  border: 3px solid #42638f;
  margin: 3rem auto;
}
.solved-box__number {
  width: 90px;
  height: 75px;
  padding-top: 15px;
  background-color: #42638f;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 900px) {
  .solved-box__number {
    position: absolute;
    left: 5%;
    width: 60px;
    height: 60px;
    font-size: 2.8rem;
    padding: 0;
  }
  .solved-box__number span {
    padding-top: 5px;
    display: block;
  }
}
.solved-box__image {
  width: 25rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.solved-color {
  color: #4e84ff;
}
@media screen and (max-width: 900px) {
  .solved-box__description {
    width: 95%;
    margin: 0 auto 2rem;
  }
}
.solved-box__description h3 {
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  .solved-box__description h3 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    display: inline-block;
  }
  .solved-box__description h3 span {
    display: inline-block;
  }
  .solved-box__description h3.sp__font-18 {
    font-size: 1.8rem;
  }
}
.solved-box__description p {
  font-size: 1.8rem;
  max-width: 630px;
}
.highlight-yellow {
  background-color: #faec95;
  padding: 5px 3px;
}

.features {
  background-image: url(../images/feature-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2772c5;
  padding-bottom: 2rem;
}
.features-wrap {
  color: #fff;
  padding: 6rem 0 0;
}
.features-wrap h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 900px) {
  .features-wrap h2 {
    font-size: 2.4rem;
  }
  .features-sp-none {
    display: none;
  }
}

.feature__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
@media screen and (max-width: 900px) {
  .feature__flex {
    flex-direction: column;
    align-items: center;
  }
}
.feature-item {
  margin: 2.2rem;
  flex: 1;
}
@media screen and (max-width: 900px) {
  .feature-item {
    margin: 0;
  }
}
.feature-item__description h3 {
  color: #fff;
  text-align: center;
  width: 70%;
  margin: auto;
  background-color: #42638f;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  top: 4rem;
}
.feature-item__description div {
  background-color: #fff;
  min-height: 163px;
  border-radius: 10px;
  padding: 6rem 1.5rem 2rem;
  box-shadow: rgb(100, 100, 100) 3px 3px 5px;
}
@media screen and (max-width: 900px) {
  .feature-item__description div {
    min-height: 0;
  }
}
.feature-item__description p {
  color: #000;
}
.services {
  margin: 6rem 0;
}
.services__aqua-bg {
  width: 90%;
  margin: auto;
  background-color: #e5f3ff;
  border-radius: 20px;
  padding: 6rem 0;
}
@media screen and (max-width: 900px) {
  .services__aqua-bg {
    padding-top: 2.5rem;
    padding-bottom: 0px;
  }
}
.services__items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .services__items {
    flex-direction: column;
    align-items: center;
  }
}
.services__item {
  min-height: 255px;
  background-color: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  margin: 5rem 2rem;
}
@media screen and (max-width: 900px) {
  .services__item {
    min-height: 0;
    margin: 0 0 5rem 0;
  }
}
.sevices__image {
  position: relative;
  top: -6rem;
}
.services__description {
  margin-top: -1rem;
}
.services__description strong {
  top: -2rem;
  position: relative;
  font-size: 2rem;
}
.services__description p {
  text-align: left;
}
.services__title {
  font-size: 4.8rem;
  padding-left: 2rem;
}
.services_sub-title {
  font-size: 1.8rem;
  padding-left: 2rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 900px) {
  .services__title,
  .services_sub-title {
    padding-left: 0rem;
  }
  .services__title {
    font-size: 2.4rem;
  }
  .services_sub-title {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
}

.gifts {
  margin: 6rem 0 0;
  padding: 6rem 0;
  background-color: #fafafa;
}
.gifts__aqua-bg {
  width: 90%;
  margin: auto;
  background-color: #e5f3ff;
  border-radius: 20px;
  padding: 6rem 0;
}
@media screen and (max-width: 900px) {
  .gifts__aqua-bg {
    padding-top: 2.5rem;
    padding-bottom: 0px;
  }
}
.gifts__items {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .gifts__items {
    flex-direction: column;
    align-items: center;
  }
}
.gifts__item {
  min-height: 255px;
  background-color: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  margin: 5rem 2rem;
  box-shadow: rgb(184, 184, 184) 3px 3px 5px;
}
@media screen and (max-width: 900px) {
  .gifts__item {
    min-height: 0;
    margin: 0 0 5rem 0;
  }
}

.gifts__description strong {
  font-size: 2rem;
  padding: 2rem 0;
  display: block;
}
.gifts__description p {
  text-align: left;
}
.gifts__title {
  font-size: 4.8rem;
  padding-left: 2rem;
}
.gifts_sub-title {
  font-size: 1.8rem;
  padding-left: 2rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 900px) {
  .gifts__title,
  .gifts_sub-title {
    padding-left: 0rem;
  }
  .gifts__title {
    font-size: 2.4rem;
  }
  .gifts_sub-title {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
}

.cv-area2 {
  color: #fff;
  background-image: url(../images/bg-2.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.cv-area2__bg {
  background: linear-gradient(to right, #019ee3de, #2772c5bf, #2671c4e0);
}
.cv-area2__wrap {
  text-align: center;
  margin: auto;
  padding: 9.5rem 0;
}
.cv-area2__wrap h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  .cv-area2__wrap {
    text-align: left;
    padding: 4rem 0;
  }
  .cv-area2__wrap h2 {
    font-size: 2.4rem;
  }
  .cv-area2__wrap h2 span {
    display: inline-block;
  }
}
.cv-area2__flex {
  max-width: 900px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.cv-area2__btn-wrap {
  margin: 3rem auto 2rem;
}
@media screen and (max-width: 900px) {
  .cv-area2__flex {
    flex-direction: column;
    font-size: 1.3rem;
  }
}
/* 仮置き */
.tmp-sp {
  display: none;
}
@media screen and (max-width: 900px) {
  .tmp-sp {
    display: block;
  }
  .tmp-pc {
    display: none;
  }
}

/* footer スタイルエリア */
.footer {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 90%;
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 590px) {
  .footer__logo {
    margin-bottom: 1rem;
    max-width: 210px;
  }
  .footer__logo img {
    width: 100%;
  }
}

@media screen and (max-width: 589px) {
  .footer__logo {
    margin-bottom: 4rem;
    max-width: 164px;
  }
  .footer__logo img {
    width: 100%;
  }
}

.footer--list {
  color: #fff;
  display: flex;
}
@media screen and (min-width: 590px) {
  .footer--list {
    max-width: 1080px;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 589px) {
  .footer--list {
    margin-bottom: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.footer--list .footer--item {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 589px) {
  .footer--list .footer--item::before {
    content: ">";
  }
  .footer--list a {
    display: initial;
  }
}

/* 利用規約のスタイル */

/* 共通：章タイトル */
.term__title {
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 4.8rem;
}

.term__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 3px;
  background-color: #4584fb;
  border-radius: 50px;
}

.term__subtitle {
  font-size: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 590px) {
  .term__content {
    line-height: 3.5rem;
    margin-bottom: 3.5rem;
    padding-left: 6rem;
  }

  .term__content p {
    margin-bottom: 1.5rem;
  }
  .term__content ol {
    margin-bottom: 3.5rem;
    margin-top: 1.5rem;
    padding-left: 3rem;
  }
  .term__content li {
    list-style: decimal;
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }
}

section[class*="section--"] .container {
  background-color: #ffffff;
  box-shadow: 0px 8px 14px 8px #00000014;
  margin-bottom: 3.5rem;
}
@media screen and (min-width: 590px) {
  section[class*="section--"] .container {
    padding: 5rem;
  }
}
@media screen and (max-width: 589px) {
  section[class*="section--"] .container {
    padding: 2rem;
  }
}

.law__title {
  font-size: 2.2rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.law__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 3px;
  background-color: #4584fb;
  border-radius: 50px;
}
.law__content {
  font-size: 1.6rem;
  line-height: 3.5rem;
  margin-bottom: 3.5rem;
  padding-left: 1rem;
}
.google-form {
  margin: auto;
  text-align: center;
}
.copyright {
  text-align: center;
  color: #fff;
}

/* -------- thanksページ ------------ */
.thanks__container {
  width: 92%;
  margin: 0 auto;
}

/* (thanks)全体 */
@media (min-width: 900px) {
  .thanks {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .thanks__card,
  .thanks__message {
    width: 48%;
  }
}

/* (thanks)カード */
.thanks__card {
  background-color: #fdfff8;
  text-align: center;
  padding: 2rem 0;
}

@media (min-width: 900px) {
  .thanks__card {
    border-radius: 30px;
    box-shadow: 0px 8px 14px 8px #00000014;
    padding: 5rem 0;
  }
}

/* (thanks)カード画像 */
.card__img {
  width: 88%;
  margin: 2rem auto 0;
}

@media (min-width: 900px) {
  .card__img {
    margin-top: 5rem;
  }
}

/* (thanks)メッセージ */
.thanks__message {
  padding: 2rem 0;
}

.thanks__title {
  font-size: 3.6rem;
  text-align: center;
}

.check-icon {
  width: 9.5rem;
  margin: 1rem auto 3.3rem;
}

.thanks__message-text p {
  margin-bottom: 2.7rem;
}

.thanks__image {
  width: 95%;
  margin: 0 auto 3rem;
}

.thanks__image img {
  width: 100%;
}

.thanks__message a {
  color: #1943d0;
  text-decoration: underline;
  word-wrap: break-word;
}

@media (min-width: 590px) {
  .thanks__message {
    padding: 5rem 0;
  }

  .thanks__title {
    font-size: 5.7rem;
  }

  .check-icon {
    width: 13rem;
  }

  .thanks__image {
    width: 50rem;
  }
}

/* ------ アニメーション設定 ------ */

.slideInDown {
  opacity: 1;
  transform: translateY(0);
}
@media screen and (max-width: 899px) {
  .section__title {
    font-size: 2.4rem;
  }
}
/* ----- オプション料金 ---- */
.option-card {
  box-shadow: 3px 3px 6px #00000014;
  border-radius: 10px;
  max-width: 900px;
  margin: 1rem auto 4rem;
  background-color: #ffffff;
}
@media screen and (max-width: 899px) {
  .option-card {
    max-width: 90%;
  }
}
.option-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 589px) {
  .option-area {
    flex-direction: column-reverse;
    padding-bottom: 4rem;
  }
  .option-area h3 {
    margin-top: 2rem;
  }
}
.option-title {
  padding: 2rem 0 0 2rem;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #284280;
  width: 100%;
  display: block;
}
.option-left {
  max-width: 600px;
}
.option-left h4 {
  font-weight: 400;
  margin-top: 1rem;
}
.option-left span {
  display: inline-block;
}
.option-right {
  min-width: 300px;
}
@media screen and (max-width: 589px) {
  .option-right {
    width: 100%;
    min-width: 0;
  }
}

#price {
  background-color: #f2f3f6;
}
.new-wrap-plan {
  margin: 3rem;
}
@media screen and (max-width: 589px) {
  .option-card {
    margin-bottom: 0;
  }
  .new-wrap-plan {
    margin-top: 1rem;
  }
  .new-course__price {
    padding-top: 2rem;
  }
}

/* footer スタイルエリア */
.footer {
  width: 92%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 90%;
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 590px) {
  .footer__logo {
    margin-bottom: 1rem;
    max-width: 210px;
  }
  .footer__logo img {
    width: 100%;
  }
}

@media screen and (max-width: 589px) {
  .footer__logo {
    margin-bottom: 4rem;
    max-width: 164px;
  }
  .footer__logo img {
    width: 100%;
  }
}

.footer--list {
  color: #fff;
  display: flex;
}
@media screen and (min-width: 590px) {
  .footer--list {
    max-width: 1080px;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 589px) {
  .footer--list {
    margin-bottom: 1.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.footer--list .footer--item {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 589px) {
  .footer--list .footer--item::before {
    content: ">";
  }
  .footer--list a {
    display: initial;
  }
}
.reserve-btn__wrapper {
  background-color: #4e84ff;
  padding: 3rem 0;
}

.reason-box {
  background-color: #019ee3;
  padding: 1.8rem 5rem;
  display: inline-block;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  margin: 4rem 0;
}
@media screen and (max-width: 900px) {
  .reason-box {
    font-size: 18px;
    padding: 0.6rem 2rem;
    margin: 2rem 0 1rem;
  }
}

.reason-title {
  font-size: 3.2rem;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}
@media screen and (max-width: 900px) {
  .reason-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    letter-spacing: 0px;
  }
}

.four-reason__area {
  background-color: #f6fbff;
}
.four-reason {
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
}

@media screen and (max-width: 900px) {
  .four-reason {
    flex-direction: column;
    padding-bottom: 3rem;
  }
  .four-reason.column-reverse {
    flex-direction: column-reverse;
  }
}

.four-reason__main {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .four-reason__main {
    flex-direction: column-reverse;
    padding-top: 2rem;
  }
}

.four-reason__box__sub-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  color: #019ee3;
}

@media screen and (max-width: 900px) {
  .four-reason__box__sub-text {
    font-size: 18px;
    margin-top: 3rem;
  }
}

.four-reason__box__sub-text::after {
  margin-right: 20px;
  transform: rotate(35deg);
}

.four-reason__box__sub-text::before {
  margin-left: 20px;
  transform: rotate(-35deg);
}

.four-reason__box__sub-text::after,
.four-reason__box__sub-text::before {
  content: "";
  width: 3px;
  height: 30px;
  background-color: #019ee3;
}
.four-reason__main-image {
  max-width: 50%;
}
@media screen and (max-width: 900px) {
  .four-reason__main-image {
    max-width: 100%;
  }
}
.four-reason__box {
  border: 2px solid #019ee3;
  border-radius: 20px;
  padding: 3.5rem 5rem 2rem;
  margin-top: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .four-reason__box {
    padding: 2rem 1rem;
    margin-top: 0;
    border: none;
  }
}

.four-reason__box p {
  font-size: 2.8rem;
}
.four-reason__box-text {
  font-size: 5.3rem;
}
.four-reason__number {
  color: #019ee3;
  font-weight: bold;
  font-size: 8.2rem;
}
@media screen and (max-width: 900px) {
  .four-reason__box p {
    font-size: 2rem;
  }
  .four-reason__box-text {
    font-size: 2.7rem;
  }
  .four-reason__number {
    font-size: 3.9rem;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.four-reason__left {
  width: 50%;
}
.four-reason__right {
  width: 50%;
}
@media screen and (max-width: 900px) {
  .four-reason__left {
    width: 100%;
  }
  .four-reason__right {
    width: 100%;
  }
  .four-reason__left img,
  .four-reason__right img {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
  }
}
.center {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .sp-none {
    display: none;
  }
}
.reason-title span {
  display: inline-block;
}
@media screen and (max-width: 900px) {
  .reason-title span {
    display: inline;
  }
}
span.color__aqua {
  color: #019ee3;
}
span.bg-color__yellow {
  background-color: #f9e87c;
  padding: 0.3rem 0.6rem;
}
aside {
  color: #b7b7b7;
  font-size: 13px;
  margin-top: 2rem;
}
@media screen and (max-width: 900px) {
  aside {
    margin: 1rem 0;
    font-size: 10px;
  }
}

.reason-description {
  line-height: 32px;
}

.media {
  margin: 3rem auto;
}

.media__container {
  padding: 3rem;
  border-radius: 20px;
  /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
}

.media__item {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .media__item {
    flex-direction: column;
  }
}
.twitter-tweet {
  margin: auto !important;
}

.media__item-image {
  color: -webkit-link;
  flex-basis: 30%;
  color: inherit;
}
.media__item-text {

  color: -webkit-link;
  flex-basis: 70%;
  color: inherit;
}


.media__item a img {
  max-width: 70%;
  margin-right: 10%;
  height: auto;
}
.media__item aside {
  margin-top: 0.5rem;
  color: inherit;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .media__item a img {
    max-width: 100%;
    margin-right: auto;
  }
}
.campaign {
  text-align: center;
  margin-bottom: 2.5rem;
}
.campaign-price {
  color: red;
}
.campaign-text {
  font-size: 110%;
  margin-bottom: 0;
}
.campaign div {
  display: inline-block;
}

.campaign div::after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
  background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
/* 追記 */
.tmp__customize-width {
  width: 60%;
}

@media screen and (max-width: 900px) {
  .tmp__customize-width {
    width: 100%;
  }
}
/* 追記 終了 */
